body {
    line-height: 1.4;
    font-size: 1.4rem;
}

.app{
    background-color: #101010;
    position: relative;
    min-height: 100vh;
}
.app__container{
    /* width: 1200px; */
    max-width: 1300px;
    /* padding: 0 1.6rem; */
    /* padding-top: 20px; */
    margin: auto;
    display: flex;
}
.app__container__left{
    width: 75%;

}
.app__container__right{
    width: 25%;
    margin-left: 24px;
}
.app__container__right{
    display: none;
    
}

/* @media only screen and (min-width: 1200px){
    .app__container__right{
        display: block;
    }
    .app__container__left{
        margin-right: 1%;
        width: 75%;
    }
    .app__container{
        max-width: 1170px;
    }

}
@media only screen and (min-width: 1400px){
    .app__container{
        max-width: 1340px;
    }
} */

 /* mobile */
 @media (max-width: 740px){
     .app__container__left{
        width: 100%;

    }
    .app__container {
        display: block;
        /* margin: 0 -1.6rem; */
    }
 }

 /* PC medium resolution > */
 @media (min-width: 1113px) {
    .app__container__right{
        display: block;

    }
 }

 /* Tablet - PC low resolution */
 @media (min-width: 740px) and (max-width: 1025px) {
    .app__container__left{
        width: 100%;
    }
    .app__container {
        display: block
    }
 }


 /* > PC low resolution */
 @media (min-width: 1025px) and (max-width: 1239px) {

    .app__container__right{
        display: block;
    }
 }